<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/auth/registration}" method="POST" th:object="${person}">

    <label for="username">username</label>
    <input type="text" id="username" aria-describedby="username" th:field="*{username}">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="username Error"></div>
    </br>
    <label for="yearOfBirth">yearOfBrith</label>
    <input type="text" id="yearOfBirth" aria-describedby="yearOfBrith" th:field="*{yearOfBirth}">
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="YearOfBirth Error"></div>
    </br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" aria-describedby="password" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="Password Error"></div>
    <br>
    <input type="submit" value="Sigh up! "/>
</form>

</body>
</html>
